<div class="container">
  <ul>
    <% contacts.forEach(function(contact) { %>
        <li data-contact="<%= escape(JSON.stringify(contact)) %>"><%= contact.name %></li>
    <% }); %>
  </ul>

  <form class="add-contact">
    <input type="text" class="contact-name" name="name" placeholder="Contact Name"/>
    <input type="text" class="contact-email" name="email" placeholder="Contact Email"/>
    <input type="submit"/>
  </form>
</div>